/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 28, 2016, 4:08:46 PM
    Author     : lenovo
*/
.nav.side-menu{
    cursor: pointer;   
}
#menu_toggle{
    cursor: pointer; 
}
fa.fa-home:active {
    border-right: 5px solid #1ABB9C;
}
.footer{  
    bottom: 0px;
    margin: 0px;
}
.profile_info {
    padding-top: 15px;
}
td.last{
    width: 124px;
}